.RecContent3 {
    box-sizing: border-box;
    height: 716px;
    border: 5px solid #000000;
    border-radius: 0px;
    margin-bottom: 40px;
    padding: 5px;
    background-image: url("frame2worksh_00132_00215.png");
    

}

