.RecContent {
    box-sizing: border-box;
    width: 93%;
    height: auto;
    border: 5px solid #000000;
    border-radius: 0px;
    
    margin: auto; /* Add this line */
    margin-bottom: 40px;
    



}
.backgroundvid {
    background-image: url('https://s11.gifyu.com/images/SuUWg.gif');
    background-size: cover;
    
}
.title__RecContent {
    font-weight: 600;
    font-size: 6vw;
    line-height: 7vw;
    /* display: flex;
    align-items: center; */
    margin: 3%;
    text-align: start;
}

.subtitle__RecContent {
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: start;
}
.myimg {
  width: 100%;
  height: auto;

}
