.footer__info {
    margin-top: 55px;
    margin-left: 60px;
    margin-bottom: 60px;
    text-align: start;
}

.footer__info p {

    font-weight: 100;
    font-size: 7px;
    line-height: 27px;
    /* or 159% */
    text-align: start;
    color: #000000;
}

@media(max-width: 777px) {


    .logofooter {
        margin-top: -130px;
        text-align: center;
    }
    .footer__info h2 {
    text-align: start;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}
    .footer__info p {
    margin-top: 30px;
    text-align: start;
    font-weight: 550;
    font-size: 17px;
    line-height: 27px;
}
    .logofooter img{
    position: auto;
    width: 105px;
    margin-top: 180px;
    margin-left: -179px;
}
}

.footer__info h2 {
    text-align: start;
    font-weight: 700;
    font-size: 23px;
    line-height: 42px;
}
@media(min-width: 777px) {

    .footer__info p {
        margin-top: 30px;
        text-align: start;
        font-weight: 500;
        font-size: 17px;
        line-height: 19px;
    }
    .logofooter img{
    position: auto;
    width: 175px;

    margin-top: 160px;

    margin-left: -35px;
}
}

.icons_group_contact {
    text-align: start;
}

.footer__info a {
    margin: 30px;
    margin-left: 0px;
    font-weight: 600;
    font-size: 20px;
    text-align: start;
}

