#LogoText {

    margin-top: 4px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: auto;
    line-height: 30px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    margin-left: 10px;

}

.navbar-brand,
.navbar-toggler {
  align-self: flex-start;
    

}

/* Mobile View */
@media (max-width: 767px) {
  .navbar {
    height: auto; /* Allow content to adjust the height */

  }
   .navbar-toggler {
      /* Customize the icon styles */
      color: black; /* Change the color */
      font-size: 24px; /* Adjust the size */
      /* Add any additional styling as needed */
     border: 10px;
    }
  .nav-list {
    margin-top: 0; /* Remove top margin */
  }
   .nav-list {
    margin-top: 0px;
    margin-right: 20px;
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 0px;
    /* identical to box height, or 159% */

    display: flex;
    align-items: flex-end;
}
   #LogoText {

    margin-top: 10px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    margin-left: 20px;

}
}

/* Desktop View */
@media (min-width: 768px) {
  .navbar {
    height: 70px; /* Set the desired fixed height for desktop view */
  }
  .nav-list {
    margin-top: 90px;
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: auto;
    line-height: 10px;
    /* identical to box height, or 159% */

    display: flex;
    align-items: flex-end;
}
}
