.mygif {
    width: 93%;
    height: auto;
    border: 5px solid #000000;
    border-radius: 0px;
    margin-bottom: 40px;
    

}
.MainRec {
    width: 33%;
}
.imagen {
    width: 93%;
    height: auto;
    border: 5px solid #000000;
    border-radius: 0px;
    margin-bottom: 40px;
    
}

.App-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-contact {
  order: 2; /* Default order for desktop view */
}

.footer-information {
  order: 1; /* Default order for desktop view */
}

/* Media Query for Desktop View */
@media (max-width: 768px) {
  .footer-contact {
    order: 1; /* Updated order for desktop view */
    width: auto; /* Adjust width as needed for desktop view */
    margin-left: 30px;
  }

  .footer-information {
    order: 2; /* Updated order for desktop view */
    width: auto; /* Adjust width as needed for desktop view */
    margin-left: -37px;
  }
}
.RecContent3 {
    box-sizing: border-box;
    height: 716px;
    border: 5px solid #923464;
    border-radius: 0px;
    margin-bottom: 40px;
    padding: 5px;
    background-image: url("frame1worksh_00132.png");
    

}

* {
    font-family: 'Helvetica';
    font-style: normal;

}

